.landing{
  height:100%;
}

#logo {
  position: fixed;
  /* animation magic */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out ;
  -ms-transition: all 0.3s ease-out ;
  -o-transition: all 0.3s ease-out ;
  transition: all 0.3s ease-out;
}

#name {
  opacity: 1;
  white-space: nowrap;
  -webkit-white-space: nowrap;
  /* animation magic */
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out ;
  -ms-transition: all 0.5s ease-out ;
  -o-transition: all 0.5s ease-out ;
  transition: all 0.5s ease-out ;
}

#name > h1 {
  font-weight: 900;
  letter-spacing: -0.04em;
}


/*mobile*/
@media (max-width: 600px) {

  #logo {
    top:20%;
    left: 50%;
    margin: 0 0 0 -35vw;
    width: 70vw;
  }

  #name {
    position: fixed;
    top: 40%;
    font-size: 5.5vw;
    margin-top: 50px;
    padding: 5%;
  }

  .below-fold {
    position: absolute;
    top: 100%;
    padding: 5%;
  }

  #desc {
    top:50%;
    width: 100%;
    padding-bottom: 50%;
  }
}

/*desktop*/
@media (min-width: 600px) {
  #name {
    position: fixed;
    left: 55%;
    font-size: 2.5vw;
    top: 29%;
  }

  #logo {
    top: 29%;
    left: 6%;
    width: 40vw;
  }

  .below-fold {
    position:absolute;
    top: 100%;
    height:125%;
    left: 55%;
    width: 35%;
    /* animation magic */
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out ;
    -ms-transition: all 0.5s ease-out ;
    -o-transition: all 0.5s ease-out ;
    transition: all 0.5s ease-out ;
    }

  #desc {
    position: sticky;
    position: -webkit-sticky;
    top:29%;
    padding-bottom: 10%;
  }
}
