.portfolio {
  display: flex;
  justify-content: center;
  margin-top: 120px;
}

.portGrid {
  display: grid;
  width: 90%;
  height: 90vw;
  min-height: 90%;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  text-align: center;
}

.portItem {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('https://via.placeholder.com/800');
  background-size: cover;
  background-position: center;
  background-color: var(--decor-color);
  color: var(--text-color);
  -webkit-transition: color 0.2s ease-out, background-color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out, background-color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out, background-color 0.2s ease-out;
  -o-transition: color 0.2s ease-out, background-color 0.2s ease-out;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
}

/*mobile*/
@media (max-width: 600px) {
}

/*desktop small*/
@media (min-width: 600px) {
}
