.portBtn {
  display: block;
  width: 200px;
  text-decoration: none;
  color: var(--text-color);
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out ;
  -ms-transition: color 0.5s ease-out ;
  -o-transition: color 0.5s ease-out ;
  transition: color 0.5s ease-out ;
}

.portBtn:hover, .portBtn:focus {
  color: var(--decor-color);
  opacity: 0.7;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out ;
  -ms-transition: all 0.5s ease-out ;
  -o-transition: all 0.5s ease-out ;
  transition: all 0.5s ease-out ;
}

.portBtn:active{
  opacity: 1;
  color: var(--decor-color);
}
.back-b{
  position: relative;
  font-size: 1.1em;
  font-weight: 600;
  text-align: center;
}

.back-arr{
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -8px;
  content: '';
  width: 16px;
  height: 16px;
  border-left: 5px solid var(--decor-color);
  border-bottom: 5px solid var(--decor-color);
  transform: rotate(135deg);
}

.portPage{
  position: absolute;
  top: calc(120px + 5%);
  width: 86vw;
  max-width: 1200px;
  left: 50%;
  transform: translateX(-50%);
}

.projInfo{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "pTitle pTitle pTitle" "date deliverables null" "desc desc desc";
  padding-bottom: 3em;
}

.pTitle {
  grid-area: pTitle;
  padding-bottom: 4em;
}
.pTitle h1{
  letter-spacing: -0.06em;
  font-size: 6em;
  color: var(--text-color);
}
.pTitle h2{
  font-size: 1.3em;
  font-weight: 300;
  font-style: italic;
}
.deliverables #deliverablesh2, .date #dateh2{
  font-size: 1.3em;
  font-weight: 600;
}
.desc {
  grid-area: desc;
  padding-top: 1em;
  color: var(--text-color);
}
.date {
  padding-right: 5px;
  grid-area: date;
  color: var(--text-color);
}
.deliverables {
  grid-area: deliverables;
  color: var(--text-color);
}


.projImg{
/*width: 100vw;
  margin-left: -10vw;*/
  width: 100%;
  height: auto;
  background-color: grey;
}
@media (max-width: 750px) {
  .projInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "pTitle pTitle" "date deliverables" "desc desc";
    padding-bottom: 3em;
  }
}
