.portfolio {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  max-width: 1200px;
}
.portList{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  float: left;
  font-weight: 700;
  font-style: italic;
}
.portList a{
  text-decoration: none;
}

.portTitle{
  letter-spacing: -0.06em;
  color: var(--text-color);
  font-size: 3.5vw;
  white-space: nowrap;
  -webkit-white-space: nowrap;
  -webkit-transition: color 0.2s ease-out, transform 0.2s ease-out, font-size 0.2s ease-out;
  -moz-transition: color 0.2s ease-out, transform 0.2s ease-out, font-size 0.2s ease-out;
  -ms-transition: color 0.2s ease-out, transform 0.2s ease-out, font-size 0.2s ease-out;
  -o-transition: color 0.2s ease-out, transform 0.2s ease-out, font-size 0.2s ease-out;
  transition: color 0.2s ease-out, transform 0.2s ease-out, font-size 0.2s ease-out;
}

.portList a:hover > li .portTitle, .portList a:focus > li .portTitle {
  color: var(--decor-color);
  font-size: 5vw;
  transform: translate(50px, 0);
  opacity: 1;
}

.portPreview {
  display:flex;
  justify-content: center;
  align-items: center;
  float: right;
  width: 29vw;
  max-width: 400px;
  height: 29vw;
  max-height: 400px;
  background-position: center;
  background-color: var(--decor-color);
  background-repeat:no-repeat;
  background-size: 65%;
  border-radius: 50%;
  color: var(--text-color);
  -webkit-transition: color 0.2s ease-out, background-color 0.2s ease-out, transform 0.25s ease;
  -moz-transition: color 0.2s ease-out, background-color 0.2s ease-out, transform 0.25s ease;
  -ms-transition: color 0.2s ease-out, background-color 0.2s ease-out, transform 0.25s ease;
  -o-transition: color 0.2s ease-out, background-color 0.2s ease-out, transform 0.25s ease;
  transition: color 0.2s ease-out, background-color 0.2s ease-out, transform 0.25s ease;
}
#checkOut{
  text-transform: uppercase;
  letter-spacing: -0.06em;
  text-align: center;
  color: var(--bg-color);
  font-weight: 800;
}
.nidusbg{
  background-image: url('/img/niduslogo.svg');
}

.energyumpirebg{
  background-image: url('/img/energyumpire.svg');
}

.darkspedebg{
  background-image: url('/img/phantomface.svg');
}

.icondesignsbg{
  background-image: url('/img/icons.svg');
  background-size: 80%;
}

.textCheck{
  line-height: 0.85;
  font-size: 4.6vw;
}
.textProject{
  line-height: 0.8;
  font-size: 3.5vw;
}
.textOuta{
  line-height: 0.8;
  font-size: 5.2vw;
}


@media (max-width: 1400px){
  .portTitle{
    font-size: 5vw;
  }
  .portList a:hover > li .portTitle, .portList a:focus > li .portTitle {
    font-size: 6vw;
  }
}

@media (max-width: 750px) {
  .portfolio {
    top: 0;
    transform: translate(-50%, 0%);
    width:80vw;
    height: 80%;
  }
  .portList{
    top: calc(100px + 10%);
    left: 50%;
    transform: translate(-50%, 0);
  }
  .portList a:hover > li .portTitle, .portList a:focus > li .portTitle {
    font-size: 13vw;
    transform: translate(0, 0);
  }
  .portPreview {
    float: none;
    transform: translate(15%, 180%);
    width: 60vw;
    height: 60vw;
  }
  .portTitle{
    font-size: 10vw;
  }

  .textCheck{
    line-height: 0.85;
    font-size: 12vw;
  }
  .textProject{
    line-height: 0.8;
    font-size: 9.3vw;
  }
  .textOuta{
    line-height: 0.8;
    font-size: 14vw;
  }

  .secrep{
   font-style: normal;
   margin-bottom: 20px;
  }
}

/*.portItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 29vw;
  max-width: 320px;
  height: 29vw;
  max-height: 320px;
  background-image: url('https://via.placeholder.com/800');
  background-size: cover;
  background-position: center;
  background-color: var(--decor-color);
  color: var(--text-color);
  -webkit-transition: color 0.2s ease-out, background-color 0.2s ease-out, transform 0.25s ease;
  -moz-transition: color 0.2s ease-out, background-color 0.2s ease-out, transform 0.25s ease;
  -ms-transition: color 0.2s ease-out, background-color 0.2s ease-out, transform 0.25s ease;
  -o-transition: color 0.2s ease-out, background-color 0.2s ease-out, transform 0.25s ease;
  transition: color 0.2s ease-out, background-color 0.2s ease-out, transform 0.25s ease;
}
.portItem:hover{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.portGrid {
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: auto;
  grid-gap: 20px;
  text-align: Left;
}


@media (max-width: 600px) {
  .portGrid{
    grid-template-columns: auto auto;
    grid-gap: 10px;
  }
  .portItem{
    width: 42vw;
    max-width: 42vw;
    height: 42vw;
    max-height: 42vw;
  }
}

@media (min-width: 600px) {
}*/
