.portfolio {
  margin-top: 120px;
  margin-left:10%;
  margin-right:10%;
}

.portGrid {
  display: grid;
  width: 100%;
}

.portItem {
  position: relative;
  text-align: center;
  overflow: hidden;
  padding-top:100%;
  width: 100%;
  background-color: var(--decor-color);
  color: var(--text-color);
  -webkit-transition: color 0.2s ease-out, background-color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out, background-color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out, background-color 0.2s ease-out;
  -o-transition: color 0.2s ease-out, background-color 0.2s ease-out;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
}

.thumb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/*mobile*/
@media (max-width: 600px) {
  .portfolio {
    margin-top: 120px;
    margin-left:5%;
    margin-right:5%;
  }
  .portGrid {
    grid-template-columns: auto auto;
    grid-gap: 2% 2%;
  }
}

/*desktop small*/
@media (min-width: 600px) {
  .portGrid {
    grid-template-columns: auto auto;
    grid-gap: 2% 4%;
  }
}

/*desktop*/
@media (min-width: 800px) {
  .portGrid {
    grid-template-columns: auto auto auto;
    grid-gap: 3% 3%;
  }
}
