<style>
  .portBtn{
    display: none;
  }
</style>
<div class = "home">
  <div class = "landing">
    <div id = "name">
        <h1>Ash Murphy<span class = 'decor'>.</span><br><br>UI<span class = 'decor'>/</span>UX Designer<span class = 'decor'>.</span></h1>
    </div>
  </div>
  <div class = 'd-arrow' onclick="scrollDown()"></div>
  <div class = "below-fold">
    <div id = "desc"> <h1 class = 'decor'>About me</h1><br><strong> Please note that the portfolio is not yet fully completed.</strong><br><br>I'm a UI/UX Designer based in Melbourne.
      I love designing interfaces and solving usability problems. <br><br>I have experience with developing content strategies and creating protoype applications. While I primarily work with <strong>Adobe XD</strong> or <strong>Figma</strong>, I also utilize Illustrator and Photoshop to create assets, among other software that may be useful for a specific task.<br><br>I do not consider myself a developer, but I have a sound understanding of <strong>HTML/CSS</strong> and I am working on improving my Javascript skills, this website being an example of that.<br><br> When I'm not designing, I enjoy playing video games or hanging out with mates, or both at the same time.<br><br> If you have a job or career opportunity you think I am fit for, please do not hesitate to contact me at <a href="mailto:ash.murphy.uiux@gmail.com">ash.murphy.uiux@gmail.com</a>
    </div>
  </div>
</div>
