

  <div class = "landing">
    <svg version="1.1" id="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 280 130" style="enable-background:new 0 0 280 130;" xml:space="preserve">
      <title>AM Logo</title>
      <path d="M147.3,130H0L73.7,0L147.3,130z M206.3,0l-33.2,58.5L140,0l-30.2,53.3l42,74.1l1.5,2.6H280L206.3,0z"/>
    </svg>
    <!-- <img class="logo" src="img/AM Logo SVG.svg"/> -->
    <div id = "name">
        <h1>Ash Murphy.<br><br>UI/UX Designer.</h1>
    </div>
  </div>

  <div class = "below-fold">
    <div id = "desc"> <h1>About me</h1><br>I'm a UI/UX Designer based in Melbourne. I like coffee and other stuff too.
      Vivamus in iaculirices posuere cubilia Curae; Vivamus mi diam, volutpat commodo quam sit amet, tempor iaculis velit. Nam cursus nec dui quis euismod. <br><br>Suspendisse ac nunc eleifend, convallis eros at, tincidunt velit. Aliquam elementum tortor enim, vel dapibus metus semper ac. Mauris dapibus enim velit, sed auctor arcu varius in. Vivamus condimentum justo quis nisi efficitur scelerisque. Aliquam suscipit urna ac mollis bibendum. Nam luctus mauris in lobortis consectetur. Quisque fringilla dolor sed quam facilisis mollis. Fusce facilisis, ipsum in vulputate dignissim, odio massa dapibus massa, at tincidunt arcu quam eget nisl. Vestibulum tristique tincidunt dictum. Aliquam vel aliquet ipsum. Mauris ipsum massa, blandit vulputate vehicula in, consectetur in turpis. Nullam malesuada elementum libero vitae rutrum.
    </div>
  </div>
