<div class = 'portfolio'>
  <ol class = 'portList' onmouseout = 'resetList()'>
    <a href = '#portfolio/test' id = 'nidus'       class = 'decor'onmouseover = 'nidusChange()'>       <li><h1 class = 'portTitle'>Nidus</h1></li></a>
    <a href = '#portfolio/test' id = 'energyumpire'class = 'decor'onmouseover = 'energyumpireChange()'><li><h1 class = 'portTitle'>Energy Umpire</h1></li></a>
    <a href = '#portfolio/test' id = 'darkspede'   class = 'decor'onmouseover = 'darkspedeChange()'>   <li><h1 class = 'portTitle'>Darkspede</h1></li></a>
    <a href = '#portfolio/test' id = 'icondesigns' class = 'decor'onmouseover = 'icondesignsChange()'> <li><h1 class = 'portTitle'>Icon Designs</h1></li></a>
  </ol>
  <div class = 'portPreview'><h2 class = 'decor' id = 'checkOut'>Check out a <span style = 'font-size: 6.5vw'>Project</span></h2></div>
</div>
