<style>
  .portBtn{
    display: none;
  }
</style>
<div class = 'portfolio'>
  <ol class = 'portList' onmouseout = 'resetList()'>
    <a href = '#portfolio/test' id = 'nidus' class = 'decor' onmouseover = 'nidusChange()'><li><div class = 'portTitle'>Nidus</div></li></a>
    <a href = '#portfolio/test' id = 'energyumpire' class = 'decor'onmouseover = 'energyumpireChange()'><li><div class = 'portTitle'>Energy Umpire</div></li></a>
    <a href = '#portfolio/test' id = 'darkspede' class = 'decor'onmouseover = 'darkspedeChange()'><li><div class = 'portTitle'>Darkspede</div></li></a>
    <a href = '#portfolio/test' id = 'icondesigns' class = 'decor'onmouseover = 'icondesignsChange()'><li><div class = 'portTitle'>Icon Designs</div></li></a>
  </ol>
  <div class = 'portPreview'></div>
</div>
