<div class = 'portPage'>
  <a href = '#secretrecipes' class = 'portBtn'><div class = 'back-b'><span class = 'back-arr'></span>Back to Recipes</div></a>
  <div class = 'projInfo'>
    <div class = 'pTitle'>
      <h1 id = 'pTitleh1'>Invalid Link</h1>
      <h2 class = 'decor' id = 'pTitleh2'></h2>
    </div>
    <div class = 'date'>
      <h2 class = 'decor'>Ingredients</h2>
      <h3 id = 'dateh2'>N/A</h3>
    </div>
    <div class = 'desc'>
      <br>
      <h2 class = 'decor'>Method</h2>
        <p id = 'descp'>Looks like you took a wrong turn.</p>
    </div>
  </div>
  <div class = 'pImg'></div>
</div>
