<style>
  .menu, .menubg, #navBurger{
    display: none;
  }
</style>
<div class = 'portPage'>
  <a href = '#portfolio' class = 'portBtn'><div class = 'back-b'><span class = 'back-arr'></span>Back to Portfolio</div></a>
  <div class = 'projInfo'>
    <div class = 'pTitle'>
      <h1 id = 'pTitleh1'>Invalid Link</h1>
      <h2 class = 'decor' id = 'pTitleh2'></h2>
    </div>
    <div class = 'date'>
      <h2>Date</h2>
      <h2 class = 'decor' id = 'dateh2'>N/A<h2>
    </div>
    <div class = 'deliverables'>
      <h2>Deliverables</h2>
      <h2 class = 'decor' id = 'deliverablesh2'>N/A<h2>
    </div>
    <div class = 'desc'>
      <p id = descp></p>
    </div>
  </div>
  <div class = 'pImg'></div>
</div>
