<style>
  .menu, .menubg, #navBurger{
    display: none;
  }
</style>

<!--Back to portfolio button-->
<a href = '#portfolio' class = 'portBtn'><div class = 'back-b'><span class = 'back-arr'></span>Back to Portfolio</div></a>
<div class = 'portPage'>
  <div class = 'projInfo'>
    <div class = 'pTitle' id = '22'>
      
    </div>

    <div class = 'date'>
      <h2 class = 'decor'>Date</h2>
      <h2>Nov 2018 - Feb 2019<h2>
    </div>
    <div class = 'deliverables'>
      <h2 class = 'decor'>Deliverables</h2>
      <h2>UI Design, UX Copy<h2>
    </div>
    <div class = 'desc'>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fringilla lorem vitae tempor convallis. Nullam sollicitudin mauris eu mauris egestas, et euismod libero ullamcorper. Vestibulum sodales, massa sed consectetur maximus, eros mauris sodales mauris, quis faucibus nunc mauris in nisl. Nunc tempor aliquam tellus at elementum. Ut ac elit fringilla, fermentum purus in, ornare tortor. Sed id tristique augue, ac consequat eros. Phasellus commodo a diam a condimentum. Etiam feugiat odio neque, in fringilla ipsum accumsan non. Integer turpis lacus, ultrices sed neque et, dignissim dapibus eros. Pellentesque efficitur dolor ut mollis dignissim. Phasellus a feugiat nunc. Duis scelerisque porttitor neque, nec luctus turpis pharetra sit amet.</p>
    </div>
  </div>
  <img class = projImg src = 'https://via.placeholder.com/800'>
</div>
